.flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.both-align-center {
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.flex-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-start {
    justify-content: flex-start;
}

.flex-space-around {
    justify-content: space-around;
}

.clean-list {
    list-style-type: none;
}

.show {
    transform: scale(1);
}

.hide {
    transform: scale(0);
}

.left {
    text-align: left;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding-right: 25px;
}

.round-btn {
    border-radius: 5px;
    border: 2px black solid;
    background: white;
    color: black;
    transition: transform 0.3s ease-out
}

.round-btn:hover {
    background: white;
    color: blac;
    border: 2px white solid;
    transform: scale(1.1)
}

.full {
    height: 100%;
    width: 100%;
}

.circle {
    border-radius: 50%;
    border: 1px black solid;
}

.picked {
    background: rgba(192, 141, 2, 0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.emails-titles span.picked {
    background: rgb(3, 3, 240, 0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}