.mail-filter input {
    background: rgb(255, 254, 254);
    border: 1px grey solid;
    border-radius: 3px;
    padding: 10px;
    padding-right: 35%;
    color: black;
    outline: none;
    margin-left: 20px;
}

@media (max-width: 760px) {
    .mail-filter input{
        padding-right: 5%
    } 
}


.mail-filter select {
    padding: 4px;
    border-radius: 3px;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
}

.mail-filter i {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 20px;
    padding-left: 20px;
}

.mail-filter {
    background-position: 50% 27%;
    border-bottom: 2px black solid;
    padding: 10px 20px;
    justify-content: flex-end;
}