
.side {
    /* justify-content: center; */
    font-size: 1.1rem;
    padding: 4px;
}

.side ul {
    list-style-type: none;
}

.side ul li {
    padding: 10px 10px;
    color: black;
    cursor: pointer;
    /* margin-left: 20px; */
    border: 1px grey solid;
    border-radius: 5px;
    padding: 19px;
    align-items: center;
}

.side ul li:hover {
    transform: scale(0.97);
    border: 1px solid rgba(137, 137, 223, 0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.side ul li.send-mail {
    position: absolute;
    bottom: 10px;
    left: 30px;
    margin-bottom: 30px;
    border: 1px rgb(230, 101, 27) solid;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(255, 127, 80, 0.815);
    background: rgb(230, 101, 27);
    color: white;
}

.side-mail-ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    margin: 0;
}

.send-modal {
    height: 500px;
    width: 400px;
    border-radius: 10px;
    position: absolute;
    right: 25%;
    bottom: 13%;
    border: 2px black solid;
    background: rgb(180, 84, 84);
    box-shadow: 0px 4px 23px 0px rgba(131, 117, 117, 0.75);
}

.send-mail-head {
    background: rgb(180, 84, 84);
    height: 5%;
    padding: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.send-modal input {
    width: 95%;
    height: 100%;
    padding: 7px;
}

.send-mail-inputs {
    width: 100%
}

.send-modal textarea {
    font-size: 1.5rem;
    width: 99%;
    height: 70%;
    resize: none;
}

.send-modal i {
    cursor: pointer;
}

li {
    list-style: none;
}

.sort-btn {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(226, 168, 168) !important;
}

@media (max-width: 760px) {
.side-mail-ul{
        flex-direction: row;
        width: 100%;
    }   
.side-mail-ul li{
    font-size: 14px;
    padding: 0;
    flex-direction: column;
    width: 30%;
}
.mail-side{
    justify-content: center;
}
.mail-filter input{
    width: 100%;
}
}