@import "mail-details.css";
@import "helpers-css.css";
@import "mail-filter.css";
@import "mail-prev.css";
@import "mail-list.css";
@import "mail-side.css";
@import "mail-status.css";

*{
    box-sizing: border-box;
}
@font-face {
    font-family: Poppins;
    src: url('../fonts/poppin/Poppins-Regular.ttf');
}

body{
    background-color: rgb(252, 252, 252);
    padding: 0;
    margin: 0;
    font-family: Poppins;
    height: 100vh;
}
nav{
    font-size: 20px;
}
.main-container{
    text-align: center;
    margin: 20px;
}
.note-filter-container input, button, select{
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.473);
    color: grey;
    font-family: poppins;
    margin: 3px;
    background-color: rgba(255, 255, 255, 0.212);
}
.note-filter-container{
    margin: 3px;
    display:flex;
    align-items: center;
    top:12%;
    background-color: rgba(255, 255, 255, 0.397);
    justify-content: center;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.467);
    padding: 0 20px;
    box-shadow: #222222;
    -webkit-box-shadow: 0px -9px 10px 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -9px 10px 10px rgba(0,0,0,0.3);
    box-shadow: 0px -9px 10px 10px rgba(0,0,0,0.3);
    z-index: 10000;
    top: 0;
    
}
.header-container .logo{
    padding: 10px;
    font-size: 40px;
    color: rgba(255, 127, 80, 0.815);
}

.nav-container {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-container a{
    text-decoration: none;
    color: rgba(255, 127, 80, 0.815);
}

.notes-list-container{
    /* display: flex;
    flex-wrap: wrap; */
    padding: 0 45px;
    column-count: 3;
    justify-content: center;
    position: relative;
}
.notes-list-container > *{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
.note-preview-container .toolBar{
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.note-preview-container .toolBar i{
    padding: 10px 4px;
    font-size: 18px;
}
.note-preview-container a{
    text-decoration: none;
}

.note-preview-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    /* width: 28%; */
    margin-bottom: 8px;
    border: rgba(0, 0, 0, 0.041) 1px solid;
    font-size: 16px;
    color: rgb(43, 43, 43);
    position: relative;
}
.note-preview-container .colorToggle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: blue;
    z-index: 1;
    background-color: rgba(252, 252, 252, 0.904);
    height: 50%;
    width: 80%;
    border-radius: 10px;
}

.note-preview-container img{
    height: 72%;
    width: 90%;
    border: 0;
    padding: 10px 5px 0 5px;
    
}
.colorToggle{
    display: flex;
}
.colorToggle img{
    padding: 5px;
    height: 20px;
    width: 20px;
}
.colorToggle input{
    padding: 10px;
    color: gray;
    font-family: poppins;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

.note-preview-container{
    -webkit-box-shadow: 7px 4px 18px -8px rgba(0,0,0,0.25);
    -moz-box-shadow: 7px 4px 18px -8px rgba(0,0,0,0.25);
    box-shadow: 7px 4px 18px -8px rgba(0,0,0,0.25);
}
.note-preview-container.red{
    background-color: rgba(255, 6, 6, 0.1);
}
.note-preview-container.blue{
    background-color: rgba(6, 176, 255, 0.1);
}
.note-preview-container.green{
    background-color: rgba(6, 255, 48, 0.383);
}
.note-preview-container.yellow{
    background-color: rgba(255, 189, 6, 0.1);
}

.emails-container{
    display: flex;
    flex-direction: column;
}

.emails-container li {
    list-style: none;
    margin: 5px;
}

.email-main-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
}

.current-mail {
border: 2px rgba(255, 127, 80, 0.815) solid;
border-radius: 5px;
}

.burger{
    display: none;  
    font-size: 40px; 
    color: rgba(255, 127, 80, 0.815);     
}
.burger-menu{
    height: 100vh;
    width: 30%;
    position: absolute;
    right: -100%;
    top: 82px;
    background-color: rgb(202, 202, 202);
    z-index: -10000;
    display: none;
}
iframe{
    height: 72%;
    width: 90%;
    border: 0;
    padding: 10px 5px 0 5px;
}
.keep-search-container{
    margin: 5px auto;
    background-color: rgb(211, 211, 211);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
}
.keep-search-container form{
    flex: 2;
    display: flex;
}
.keep-add-form-container input{
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-family: poppins;
    font-size: 20px;
}
.keep-add-form-container button{
    width: 40%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-family: poppins;
}
.search-buttons-container{
    flex:1;
    display: flex;
    justify-content: space-evenly;
    font-size: 28px;
}
.search-buttons-container i{
    opacity: 0.2;
    padding: 8px;
}
.search-buttons-container .unclicked{
    opacity: 0.7;
}
.todo-container ul{
    padding: 0;
    width: 50%;
}
.todo-container li{
    list-style: none;
}
.todo-container{
    margin: 10px;
    padding: 0;
    text-align: left;
}
.todo-container i{
    font-size: 10px;
}
.todo-container .line-through{
    text-decoration: line-through;
}
/* .full-screen{
    background-image: url('../img/bg.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
} */
.user-msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 25px;
    width: 30%;
    height: 30%;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.568);
    z-index: 1
}
.text-container{
    padding: 15px;
}

@media (max-width: 760px) {   
.li-todo-internal-container{
    word-wrap: break-word;
    width: 100%;
    margin:0;
    padding:0
} 
.text-container{
    padding: 3px;
}
.todo-container{
    padding: 3px;
    width: 80%;
}
.nav-container{
    display: none;        
}
.header-container .logo{
    padding: 0;
    font-size: 34px;
}
.header-container{
    padding: 4px 14px;
}
.burger{
    display: block;
}
.main-container{
    margin: 0;
}
.note-preview-container .toolBar{
    justify-content: space-around;
    width: 70%;
}
.note-preview-container .toolBar i{
    padding: 10px 4px;
    font-size: 14px;
}
.colorToggle img{
    height: 30px;
    width: 30px;
}
.notes-list-container{
    margin: 5px;
    justify-content: space-evenly;
    /* display: flex;
    flex-wrap: wrap; */
    padding: 5px;
    column-count: 2;
    justify-content: center;
    position: relative;
}
.keep-search-container{
    padding: 5px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.keep-search-container input{
    text-align: center;
}
iframe{
    height: 80%;
    width: 100%;
    padding: 2px 1px 0 1px;
}
.note-preview-container img{
    padding: 5px;
}
.note-preview-container .colorToggle{
    height: 55%;
    width: 60%;
}
.note-preview-container{
    border-radius: 5px;
    /* width: 90%; */
    word-wrap: break-word;
    /* margin: 9px 4px; */
    padding: 10px;
    font-size: 20px;
    color: rgb(43, 43, 43);
}
.search-buttons-container{
    margin: 5px;
    width: 90%;
}
.email-main-container{
    flex-direction: column-reverse;
}

li {
    list-style: none;
}

}